<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Vue.js world!</title>

    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="firstInstanceapp">
        <h1>{{ message }} {{name}}</h1>
        <h1>{{ person.name }}</h1>
        <h1>{{ person.height }}</h1>
        <h1>{{ greet() }}</h1>
        <h1>{{ greetParam('Rainer Zufall') }}</h1>
        <h1>{{ greetThis() }}</h1>

        <h1><a :href="website">Go to best GitHub user.</a></h1>
        <h1 v-html:href="websiteTag">

        <h2>{{ inAndDecreasingNumber }}</h2>
        <button v-on:mouseover="inAndDecreasingNumber++">+</button>
        <button v-on:mouseover.once="inAndDecreasingNumber++">+ (once)</button>
        <button v-on:mouseover="inAndDecreasingNumber--">-</button>

        <h2>{{ doubleAndHalfingNumber }}</h2>
        <button v-on:click="doubleNumber">x2</button>
        <button v-on:click="halfNumber">/2</button>
        <p>
        <input type="text" v-model="name">
        <button v-on:click="resetName">Reset</button>
        <p v-if="name.length > 0">Hello, {{ name }}!</p>
        <p v-else>No name given!</p>
        
        <strong>Person 2:</strong>
        <p>{{ persons[1].name }}</p>

        <strong>All persons:</strong>
        <p v-for="person in persons">{{ person.name }}</p>

        <strong>All persons (with numbers):</strong>
        <p v-for="(person, index) in persons">{{ index + 1}}: {{ person.name }}</p>

        <input type="text" placeholder="firstname..." v-model="firstname">
        <input type="text" placeholder="lastname..." v-model="lastname">
        <p>fullname: {{fullname}} (this is cached)</p>
    </div>

    <div id="secondInstanceapp">
        <button v-on:click="changeName">Change name</button>
    </div>

    <script src="app.js"></script>
</body>
</html>